@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

:root {
  --text-dark: #1a1f36;
  --text-primary: #3c4257;
  --text-secondary: #697386;
  --text-tertiary: #c1c9d2;
  --blurple: #635bff;
}

.ls-card-title {
  letter-spacing: -0.2px;
}

a.link {
  color: var(--blurple);
}
