{{define "subject"}}Welcome to App With No Name!{{end}}

{{define "plainBody"}}
Hi {{.user.FirstName}},

Thanks for signing up for a App With No Name account. We're excited to have you on board!

For furutre reference, your user ID is {{.user.ID}}.

Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON
body to activate your account:

{"token": "{{.activationToken}}"}

Please not that this is a one time use and will expire in 3 days.

Thanks,

The App With No Name Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
        <p>Hi {{.user.FirstName}}, </p>
        <p> Thanks for signing up for a App With No Name account. We're excited to have you on board!</p>
        <p>For future reference, your user ID is {{.user.ID}} </p>
        <p>Please send a request to the <code>PUT /v1/users/activated</code> endpoint with the following JSON
        body to activate your account:</p>
        <pre>
            <code>
            {"token": "{{.activationToken}}"}
            </code>
        </pre>
        <p>Thanks,</p>
        <p> The App With No Name Team</p>
    </body>
</html>
{{end}}