.root {
  text-align: left;
  flex: 1 1 auto;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  font-family: inherit;
  line-height: 28px;
  background: rgb(255, 255, 255);
  border: 0;
  outline: 0;
  appearance: none;
  user-select: auto;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  max-width: 100%;
  border-radius: 4px;
}

.root:focus {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.root.large {
  min-height: 44px;
  padding-left: 16px;
  padding-right: 16px;
}

.root.medium {
  min-height: 36px;
  padding: 0 12px;
}
